/* Popular Hotels */
.hotel-swiper {
  position: relative;
  top: 100px;
  margin-bottom: 150px;
  width: 900px;
  height: 450px;

  h2 {
    left: calc((100% - 285px) / 2);
    bottom: -5px;
    color: var(--fourth-color);
    border-bottom: 2px solid var(--fourth-color);
  }

  .swiper-slide {
    margin-top: 100px;
    width: 300px;
    height: 240px;

    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      color: var(--third-color);
      transition: 0.4s;
      opacity: 0;
      z-index: 1;
      filter: drop-shadow(2px 4px 6px black);

      .stars {
        width: 70px;
        position: relative;
        top: 10px;
        filter: brightness(1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: 0.4s;
      box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.75);
      z-index: -1;
    }
  }

  .swiper-slide-next {

    h3 {
      opacity: 1;
    }

    img {
      transform: scale(1.2);
      transition: 0.4s;
      box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.75);
      filter: brightness(0.6);
    }
  }
}

/* Media Query for Hotel Reservation */
@media (max-width: 1000px) {
  .hotel-swiper {
    width: 760px;

    .swiper-slide {
      width: 250px;
      height: 210px;
    }

    .swiper-pagination {
      bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    .hotel-swiper {
      width: 610px;
      margin-bottom: 100px;

      h2 {
        margin-left: 20px;
      }

      .swiper-slide {
        width: 200px;
        height: 160px;
      }

      .swiper-pagination {
        bottom: 100px;
      }
    }

    @media (max-width: 600px) {
      .hotel-swiper {
        width: 410px;
        margin-bottom: 0;

        .swiper-wrapper {
          left: -20px;
        }

        .swiper-slide {
          width: 150px;
          height: 110px;

          h3 {
            font-size: 16px;

            .stars {
              width: 40px;
            }
          }
        }

        .swiper-pagination {
          bottom: 170px;
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
      }

      @media (max-width: 500px) {
        .hotel-swiper {
          width: 300px;

          .swiper-wrapper {
            left: -70px;
          }

          .swiper-pagination {
            bottom: 150px;
          }
        }

        .swiper-slide-next {
          h3 {
            font-size: 20px !important;
          }

          img {
            transform: scale(1.6) !important;
          }
        }
      }
    }
  }
}